@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
Got a secret <br>
Can you keep it?<br>
Swear this one you'll save<br>
Better lock it in your pocket<br>
Taking this one to the grave<br>
<br>
If I show you<br>
Then I know you wont tell what I said<br>
'Cause two can keep a secret if one of them is dead<br>
<br>
Why do you smile like you've been told a secret?<br>
Now you're telling lies<br>
Because you just want to keep it<br>
But no one keeps a secret<br>
No one keeps a secret<br>
<br>
Why when do our darkest deeds do we tell?<br>
They burn in our brains<br>
Become a living hell<br>
Because everybody tells<br>
Everybody tells<br>
<br>
Got a secret<br>
Can you keep it?<br>
Swear this one you'll save<br>
Better lock it in your pocket<br>
Taking this one to the grave<br>
<br>
If I show you<br>
Then I know you wont tell what I said<br>
Because two can keep a secret if one of them is dead<br>
<br>
Look into my eyes<br>
Now you're getting sleepy<br>
Are you hypnotized by secrets that you're keeping<br>
I know what you're keeping<br>
I know what you're keeping<br>
<br>
Got a secret<br>
Can you keep it?<br>
Swear, this one you'll save<br>
Better lock it in your pocket<br>
Taking this one to the grave<br>
<br>
If I show you<br>
Then I know you wont tell what I said<br>
Because two can keep a secret if one of them is dead<br>
<br>
Allison?<br>
Yes, catherine?<br>
I have something I want to tell you but you have to promise never to tell anyone<br>
I promise<br>
Do you swear on your life?<br>
I swear on my life<br>
<br>
You swore you'd never tell<br>
You swore you'd never tell<br>
You swore you'd never tell<br>
You swore you'd never tell<br>
<br>
Got a secret<br>
Can you keep it?<br>
Swear, this one you'll save<br>
Better lock it in your pocket<br>
Taking this one to the grave<br>
<br>
If I show you<br>
Then I know you wont tell what I said<br>
'Cause two can keep a secret if one of them is dead<br>
<br>
Yes, two can keep a secret if one of them is dead<br>
Yes, two can keep a secret if one of them is dead<br>
Yes, two can keep a secret if one of us is dead</p>
